/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation style */

#header-logo:hover{
    transform: scale(1.2);
    background: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-item {
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    list-style: none;
    margin: 0 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(70deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}



/* banner style */


.hero-container {
    background-color: #1A0B2E;
    background-image: url(./assets/hero-bg.png);
    background-position:center ;
    /* background-size: cover; */
}


.hero-title {
    padding-top: 70px;

}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* round shape */
.logo-circle {
    position: relative;
    width: 280px;
    height: 280px;
    background: linear-gradient(135deg, #ff00ff, #ffee00);
    border-radius: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2A186C;
    box-shadow: 0 0 50px rgb(21, 5, 202);
}
.logo-circle img{   
    position: absolute;
    height: 140px;
}

/* new name badge */
.badge {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    background-color: #00ff88;
    font-size: .75rem;
    color: #2A186C;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px #00ff88;
}
.badge:hover{
    transform: scale(1.1);
    background-color: #026235ae;
}

.brand-name {
    padding-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: .7rem;
}

.banner-para {
    font-size: 0.95rem;
    color: #ffffffb9;
    margin-bottom: 1.25rem;
}
.button-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 3.5rem;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
}
.btn-spotify {
    background: linear-gradient(70deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
}

.btn-subscribe {
    border: 1px solid #00ff88;
    color: #00ff88;
}
.btn:hover {
    transform: scale(1.05);
}
.btn-subscribe:hover {
    background: rgba(0, 255, 204, 0.1);
}



/* grid section style */
.grid-section {
    padding: 200px ;
    background-color: #230E3D;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    font-weight: 700;
}

.features-grid {
    display: grid;
    grid-template-columns: 380px ;
    grid-template-rows: 180px ;
    gap: 1rem;
}
.features-grid img{
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.feature-card {
    background-color: #250D44;
    color: #ffffff;
    border-radius: 24px;
    padding: 30px;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    margin: 15px 0;
    font-size: 1.25rem;
}

.feature-card p {
    color: #FFFFFF;
    line-height: 1.6;
    font-size: 0.95rem;
    margin: 0;
}

.first-grid{
    grid-row: span 3;
    width: 380px;
    height: 400px;
}

.wide {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 790px;
}

.rich-exclusive{
    display: flex;
    gap: 20px;
    grid-column: span 2;
}

/* about section */
.about-section {
    background-color: #1A0B2E;
    color: #ffffff;
    padding: 50px 200px 120px;
    text-align: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.about-text h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 1.1rem;
    color: #ffffffa8;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 15px auto;
}

.highlight-text {
    margin-top: 30px !important;
}

.divider {
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    margin: 60px auto;
    width: 90%;
}

/* mark star rating */
.stats-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.stat-item {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-size: 3rem;
    font-weight: 800;
    color: #00ff88;
    margin-bottom: 10px;
}

.stat-label {
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}



/* Featured vedio section */

    
.vedio-section {
    text-align: center;
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.vedio-card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.episodes-grid{
    background-color: #250D44;
    border-radius: 24px;
}

.card-content{
    text-align: left;
    padding: 24px;
    color: #FFFFFF;
}
.card-content h3{
    font-size: 24px;
    font-weight: 500;
}
.card-content p{
    font-size: 16px;
    margin: 12px 0;
    color: #ffffffa5;
}

.episode-card:hover {
    transform: translateY(-5px);
}



/* host sytle */
.host-container{
    padding: 120px 200px;
    background-color: #1A0B2E;
    
}
.headline{
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.host-card{
    display: flex;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);;
    border-radius: 40px;
    padding: 3rem;
    gap: 2.5rem;
    text-align: left;

}

.alex-name{
    font-size: 2rem;
    color: #FFFFFF;
}
.alex-bio{
    font-size: 1rem ;
    color: #ffffff83;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#host-social{
    display: flex;
    gap: 12px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
}


/* footer style */

.footer-container{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    padding: 80px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media{
   display: flex;
   gap: 40px;
   margin-bottom: 40px;
}
.social-media a{
    text-decoration: none;
    color: #fafafab1;
    margin-top: 2rem;
}

.copyright {
    color: #fafafab1;
    font-size: 1rem;
}



/* Responsive adjustments */

@media screen and (max-width: 576px) {
   
    
}

@media screen and (min-width: 992px) {

    
}