/* font style */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation style */
.navbar img{
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.nav-item {
    display: flex;
    gap: 32px;
    color: #FFFFFF;
    list-style: none;
    margin: 0 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(70deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    padding: 12px 16px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/* main style */

/* banner style */

/* Featured vedio section */

    
.episodes-section {
    text-align: center;
    background-color: #1A0B2E;
    padding: 120px 200px;
}

.vedio-card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
}

.episodes-grid{
    background-color: #250D44;
    border-radius: 24px;
}

.card-content{
    text-align: left;
    padding: 24px;
    color: #FFFFFF;
}
.card-content h3{
    font-size: 24px;
    font-weight: 600;
}
.card-content p{
    font-size: 16px;
    margin: 12px 0;
}

.episode-card:hover {
    transform: translateY(-5px);
}



/* host sytle */
.host-container{
    padding: 120px 200px;
    background-color: #1A0B2E;
    
}
.headline{
    color: #FFFFFF;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}
.host-card{
    display: flex;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);;
    border-radius: 40px;
    padding: 3rem;
    gap: 2.5rem;
    text-align: left;

}

.alex-name{
    font-size: 2rem;
    color: #FFFFFF;
}
.alex-bio{
    font-size: 1rem ;
    color: #ffffff83;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#host-social{
    display: flex;
    gap: 12px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
}


/* footer style */

.footer-container{
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    padding: 80px 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.social-media{
   display: flex;
   gap: 40px;
   margin-bottom: 40px;
}
.social-media a{
    text-decoration: none;
    color: #fafafab1;
    margin-top: 2rem;
}

.copyright {
    color: #fafafab1;
    font-size: 1rem;
}